<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We'll back</h1>
        <p>
            update soon
        </p>
    </body>
</html>